<footer role="contentinfo">
  <div class="nhsuk-footer nhsuk-width-container" id="nhsuk-footer">
    <div class="nhsuk-grid-column-one-third">
      <h3>Suppliers' Guide</h3>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">About the Catalogue</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Process Overview</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Supplier Checklist</a></li>
      </ul>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <h3>Contact Us</h3>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Catalogue submissions</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">NHS Digital service desk</a></li>
      </ul>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <h3>Further Information</h3>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">NHS Digital</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Capabilities and Standards Model</a></li>
      </ul>
    </div>
  </div>
</footer>
